@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fcfcfc;
    --color-zinc-100: #f7f7f7;
    --color-zinc-200: #ededed;
    --color-zinc-300: #e0e0e0;
    --color-zinc-400: #bdbdbd;
    --color-zinc-500: #9e9e9e;
    --color-zinc-600: #757575;
    --color-zinc-700: #616161;
    --color-zinc-800: #424242;
    --color-zinc-900: #212121;
    --color-zinc-950: #121212;

    --color-surface: #fcfcfc;
    --color-on-surface: #1c1b1f;
    --color-surface-variant: #e7e0ec;
    --color-on-surface-variant: #49454f;

    --color-accent: var(--color-emerald-600);
    --color-accent-content: var(--color-emerald-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-surface: #121212;
        --color-on-surface: #e6e1e5;
        --color-surface-variant: #49454f;
        --color-on-surface-variant: #cac4d0;
        --color-accent: var(--color-emerald-400);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

@layer utilities {
    .no-scrollbar {
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
